@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Patua+One');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
nav {
    background: rgb(61, 52, 156);
    height: 80px;
    width: 100%;
}
nav img {
    height: 80px;
}
label.logo {
    position: relative;
    top: -30px;
    left: -40px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    min-height: 20px;
    padding: 0 100px;
    font-weight: bold;
    
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active, a:hover{
    background-color: rgb(25, 6, 231);
    transition: .5s;
    display: block;
    outline: none !important;
    box-shadow: 0 0 10px #92bff0;

    
}
.checkbtn{
    position: relative;
    top: 20px;
    font-size: 30px;
    color: white;
    float: right;
    line-height: -80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color: #5ab6fd;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

h1.judul{
    text-align: center;
}
h2.font_satu{
    font-size: large;
    color: #ffffff;
    text-align: center
}
h2.font_dua{
    font-size: large;
    color: #ffffff;
    text-align: center
}
h2.font_jumlah_satu {
    font-size: large;
    color: wheat;
    text-align: center;
}
h2.font_jumlah_dua {
    font-size: large;
    color: wheat;
    text-align: center;
}
.card {
	background: rgb(61, 52, 156);
    margin-bottom: 20px;
    height: 210px;
}

.card a {
	color: black;
	text-decoration: none;
}

.card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
}

.card-content {
	padding: 1.4em;
}

.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}

.card-content p {
	font-size: 80%;
}

/* Flexbox stuff */

.cards {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}

@media screen and (min-width: 40em) {
    .card {
        max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .card {
        max-width: calc(25% - 1em);
    }
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
}

@media screen and (min-width: 52em) {
    .centered {
        max-width: 52em;
    }
}












