<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <img src="{{ url_for('static', filename='img/logo.png') }}" />
      <label class="logo">DesignX</label>
      <ul>
        <li><a href="">Dashboard</a></li>
        <li><a href="">Live Camera</a></li>
        <li><a href="">Laporan</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </nav>
    <h1 class="judul">VIDEO STREAM</h1>
    <img class ="streaming" src="{{ url_for('video_feed') }}">
    <main class="main-area">
      <div class="centered">
        <section class="cards">
          <article class="card">
              <div class="card-content">
                <h2 class="font_dua">Jumlah Kendaraan Melintas Ke Utara</h2>                
              </div>
              <h2 class="font_jumlah_dua">{{carCount}}</h2>
              <!-- .card-content -->
          </article>
          <!-- .card -->

          <article class="card">
              <div class="card-content">
                <h2 class="font_satu">Jumlah Kendaraan Melintas ke Selatan</h2>
              </p>
            </div>
            <!-- .card-content -->
          <h2 class="font_jumlah_satu">100</h2>
          </article>
          <!-- .card -->
    </main>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
